{% extends "base.twig" %}

{% block title %}Error{% endblock %}
{% block content %}
    <div class="container">
        <h2>
            Oops! {{ error.code }} 
            <small>
                {{ error.title }}
            </small>
        </h2>
    </div>
{% endblock %}


