{% extends "base.twig" %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" class="form-horizontal">
            <input type="text" name="username" placeholder="Username" class="form-control">
            <input type="password" name="password" placeholder="Password" class="form-control">
            <button type="submit">
                Login
            </button>
        </form>
    </div>
{% endblock %}