{% extends "base.twig" %}

{% block content %}
    <br><br><br>
    <form method="post" class="form-horizontal">
        <input type="text" name="username" placeholder="Username" class="form-control">
        <input type="password" name="password" placeholder="Password" class="form-control">
        <button type="submit">
            Login
        </button>
    </form>
{% endblock %}